body {
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: monospace;
    font-weight: 100;
    font-size: 32px;
    margin: 0;
    padding: 0;
    animation: colorfade 10s ease-in-out alternate infinite;
}
@keyframes colorfade {
    0%{
        background-color: rgb(191, 191, 191);
    }
    100%{
        background-color: rgb(166, 166, 166)
    }
}

.calculadora {
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    height: 260px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.368);
    border: 1px solid black;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    left: -30px;
    bottom: 4px;
}

.menu.btn-1 {
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 50%;
    font-size: 7px;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    border: 1px solid black
}
.menu.btn-2 {
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 50%;
    font-size: 7px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 241, 86);
    border: 1px solid black
}
.menu.btn-3 {
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 50%;
    font-size: 7px;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 255, 59);
    border: 1px solid black
}
.pantalla {
    display: flex;
    height: 60px;
    width: 160px;
    background-color: rgba(255, 255, 255, 0.119);
    margin: 0px 15px 15px 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    font-size: 1rem;
    color: white;
    padding: 5px;
}

.numeros {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 15px 15px;
    gap: 2.5px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-family: monospace;
}

.boton.btn-1,
.boton.btn-2,
.boton.btn-3,
.boton.btn-4,
.boton.btn-5,
.boton.btn-6,
.boton.btn-7,
.boton.btn-8,
.boton.btn-9,
.boton.btn-0 {
    background-color: rgb(120, 120, 120);
    width: 40px;
    height: 40px;
}

.boton.btn-add,
.boton.btn-sub,
.boton.btn-mul,
.boton.btn-div {
    background-color: rgb(255, 241, 86);
    width: 40px;
    height: 40px;
    
}

.boton.btn-clear {
    background-color: tomato;
    width: 40px;
    height: 40px;
}
.boton.btn-equal {
    background-color: rgb(59, 255, 59);
    width: 40px;
    height: 40px;
}
